In [13]:
import HTSeq
import itertools
import pysam
import collections
import pandas as pd

In [4]:
bam_reader = HTSeq.BAM_Reader("408GBM8G-1_S28_L005Aligned.sortedByCoord.out.bam")

In [5]:
gtf_file = HTSeq.GFF_Reader("Homo_sapiens.GRCh38.100.gtf.gz", end_included=True)

In [6]:
exons = HTSeq.GenomicArrayOfSets( "auto", stranded=False )

In [7]:
for feature in gtf_file:
    if feature.type == "exon":
        exons[ feature.iv ] += feature.name

In [29]:
table = pd.read_table('./first_task/gene_exp.diff')

In [30]:
table

,test_id,gene_id,gene,locus,sample_1,sample_2,status,value_1,value_2,log2(fold_change),test_stat,p_value,q_value,significant
0,ENSG00000000003,ENSG00000000003,TSPAN6,X:100627107-100639991,q1,q2,OK,9.08395,9.69436,0.093827,0.203156,0.82225,0.999515,no
1,ENSG00000000005,ENSG00000000005,TNMD,X:100584935-100599885,q1,q2,NOTEST,0.00000,0.00000,0.000000,0.000000,1.00000,1.000000,no
2,ENSG00000000419,ENSG00000000419,DPM1,20:50888915-50958555,q1,q2,OK,38.40530,40.42290,0.073868,0.090539,0.92635,0.999515,no
3,ENSG00000000457,ENSG00000000457,SCYL3,1:169662006-169894267,q1,q2,OK,5.30597,4.26364,-0.315532,-0.548115,0.57965,0.999515,no
4,ENSG00000000460,ENSG00000000460,C1orf112,1:169662006-169894267,q1,q2,OK,7.17412,3.74769,-0.936800,-1.154370,0.17215,0.999515,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60656,ENSG00000288600,ENSG00000288600,AL354833.2,13:41488356-41506248,q1,q2,NOTEST,0.00000,0.00000,0.000000,0.000000,1.00000,1.000000,no
60657,ENSG00000288601,ENSG00000288601,AC007599.3,16:47144322-47701523,q1,q2,NOTEST,0.00000,0.00000,0.000000,0.000000,1.00000,1.000000,no
60658,ENSG00000288602,ENSG00000288602,C8orf44-SGK3,8:66667551-66862022,q1,q2,NOTEST,0.00000,0.00000,0.000000,0.000000,1.00000,1.000000,no
60659,ENSG00000288603,ENSG00000288603,SNORA74C-2,10:49818278-50011654,q1,q2,NOTEST,0.00000,0.00000,0.000000,0.000000,1.00000,1.000000,no
60660,ENSG00000288604,ENSG00000288604,AC015871.8,15:79833584-79926993,q1,q2,OK,2.44709,1.70492,-0.521364,-0.168190,0.49945,0.999515,no

In [31]:
table = table[['gene', 'locus', 'value_1', 'value_2', 'status', 'log2(fold_change)']]

In [32]:
table

,gene,locus,value_1,value_2,status,log2(fold_change)
0,TSPAN6,X:100627107-100639991,9.08395,9.69436,OK,0.093827
1,TNMD,X:100584935-100599885,0.00000,0.00000,NOTEST,0.000000
2,DPM1,20:50888915-50958555,38.40530,40.42290,OK,0.073868
3,SCYL3,1:169662006-169894267,5.30597,4.26364,OK,-0.315532
4,C1orf112,1:169662006-169894267,7.17412,3.74769,OK,-0.936800
...,...,...,...,...,...,...
60656,AL354833.2,13:41488356-41506248,0.00000,0.00000,NOTEST,0.000000
60657,AC007599.3,16:47144322-47701523,0.00000,0.00000,NOTEST,0.000000
60658,C8orf44-SGK3,8:66667551-66862022,0.00000,0.00000,NOTEST,0.000000
60659,SNORA74C-2,10:49818278-50011654,0.00000,0.00000,NOTEST,0.000000
60660,AC015871.8,15:79833584-79926993,2.44709,1.70492,OK,-0.521364

In [34]:
table[table['status'] == 'OK'].drop(columns='status').rename(columns={'value_1':'408GBM0G-1_S25_L005', 'value_2':'408GBM8G-1_S28_L005'}).to_excel('./first_task/answer2.xlsx')